@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?uwsxvj');
	src:url('fonts/icomoon.eot?#iefixuwsxvj') format('embedded-opentype'),
		url('fonts/icomoon.woff?uwsxvj') format('woff'),
		url('fonts/icomoon.ttf?uwsxvj') format('truetype'),
		url('fonts/icomoon.svg?uwsxvj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

azul=#104b6e
body
	font-size 16px
	font-family arial
	background #fff
header
	background azul
	border-bottom 3px solid orange
	position relative
	figure
		vertical-align top
		width 60px
		margin 0
		background #fff
		display inline-block
		img
			width 95%
			margin 3px 0 0 0
	div.titulos
		margin-left 3px
		margin-top 5px
		vertical-align top
		width 230px
		display inline-block
		color #fff
		h1
			margin 0
			font-size 18px
		h2
			margin 0
			font-size 12px
			font-style italic
	div.menu
		position absolute
		width 25px
		top 10px
		right 3px	
		p
			margin 0
			width 24px
			height 24px
			background #fff
section.mision
	margin-top 20px
	figure
		width 90%
		margin 0 auto
		img
			width 100%
	h2
		text-align center
	p
		text-align right
		line-height 1.3em
		font-style italic
		padding 0 5px 0 0
section.carreras
	background azul
	div.contenedorBolita
		overflow hidden
		position relative
		width 100%
		div.bolita
			width 140px
			height 140px
			background orange
			border 3px solid #fff
			border-radius 50%
			text-align center
			margin 0 auto 
			h2
				font-size 18px
			h3
				font-size 14px
			p:after
				content ""
				
			&:hover
				transform translateX(-80px)
				transition all 2s ease-in-out
			
		div.textoCarrera
			position absolute
			width 160px
			color #fff
			top 0
			right -160px
			font-size 14px
	
			
		